<!-- {% load staticfiles %} -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/Story_9/css/style.css"><meta charset="utf-8">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/Story_9/js/scripts.js"></script>
</head>
<body onload="laptop_info(0)">


  <div class="table-responsive">
    <table class="table table-striped">
      <thead class = "thead-light">
        <tr>
            <th style="width:5%;min-height:100%">Number</th>
            <th style="width:10%;min-height:100%">ID</th>
            <th style="width:15%;min-height:100%">Name</th>
            <th style="width:50%;min-height:100%" text-align="center">Detail</th>
            <th style="width:10%;min-height:100%">Price</th>
            <th style="width:10%;min-height:100%">Status</th>
        </tr>
      </thead>
      <tbody id="content"></tbody> 
    </table>
  </div>

  <div id="paginations"></div>

  <h5>Jumlah uang yang harus saya siapkan </h5>
  <span>Rp.</span><span id="harga">0</span>

</body>
</html>