{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/Story_10/css/style.css"><meta charset="utf-8">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/Story_10/js/scripts.js"></script>

  
</head>
<body>

  <br>
  <form id="subscription-form" method='POST'> 
    {% csrf_token %}
    {{ registrationform.as_p }}
  </form>
  <button id="save" disabled=true>Save</button>
  <br>
  
  <button id="tampil">Tampil</button>
  <br>
  <br>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class = "thead-light">
        <tr>
            <th style="width:20%;min-height:100%">Name</th>
            <th style="width:35%;min-height:100%">Email</th>
            <th style="width:10%;min-height:100%">Status</th>
        </tr>
      </thead>
      <tbody id="content"></tbody>
    </table>
  </div>

</body>
</html>