{% extends 'base.html' %}
{% block content %}
  <br>
  <div id="title">
    <h1>Hello apa kabar?</h1>
    <form method='POST'> {% csrf_token %}
      {{ portfolio_form.as_p }}
      <button type='submit' class="save">Save</button>
    </form>
  </div>
  <br>
  <h3>Output</h3>
  <br>
  <div>
    {% for form in portfolio_form_output %}
      <div>
        <h1>{{form.status}}</h1>
      </div>
      <div>
        <h3>{{form.date}}</h3>
      </div>
      <br>
    {% endfor %}
  </div>
{% endblock %}