{% extends 'base.html' %}
{% block content %} 
  
<div id="loader"></div>  

<div style="display:none;" id="isi">
  <button id="light">Light</button>
  <button id="dark">Dark</button>

  <div id="title">
    <h3>Profile</h3>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://files.catbox.moe/7x9ffo.png" width=350,height=350>
      </div>
      <div class="col-sm-6">
        <h3>Alvin Hariman.</h3>
        <h3>1806205432</h3>
      </div>
    </div>
  </div>

  <br>
</div>
<div id = "accordion" style="visibility:hidden;">
  <h1 id="judul">Aktivitas, Pengalaman</h1>
  <div id="list">
    <h3>Kuliah</h3>
    <h3>Main games</h3>
    <h3>Tidur</h3>
    <h3>Nonton bola</h3>
  </div>

  <h1 id="judul">Organisasi / Kepanitiaan</h1>
  <div id="list">
    <h3>KMBUI</h3>
    <h3>Compfest</h3>
    <h3>Ristek</h3>
    <h3>Waisak KMBUI</h3>
  </div>

  <h1 id="judul">Prestasi</h1>
  <div id="list">
    <h3>Perunggu OSN Informatika</h3>
    <h3>Juara 1 lomba drama PSAF ke-3</h3>
  </div>
</div>
{% endblock %}